@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Important */
.fc-header-toolbar.fc-toolbar.fc-toolbar-ltr {
  display: none;
}

.fc-scrollgrid.fc-scrollgrid-liquid {
  border: 0;
  border-right: 0;
}

/* Important */
.fc-col-header-cell.fc-day.fc-day-sun
  .fc-scrollgrid-sync-inner
  .fc-col-header-cell-cushion {
  color: #e72f1b;
}

.fc-col-header-cell.fc-day {
  border: 0;
}

/* Important */
.fc-col-header-cell.fc-day.fc-day-sat
  .fc-scrollgrid-sync-inner
  .fc-col-header-cell-cushion {
  color: #221be7;
}

/* Important */
.fc-col-header-cell-cushion {
  color: black;
}

.fc-col-header-cell-cushion .fc-day-mon {
  color: blue;
}

/* Important */
.fc-daygrid-day {
  text-align: center;
  height: 10px;
  line-height: 10px;
  width: 70px;
  padding: 0;
  margin: 0;
}

/* Important */
.fc-daygrid-day.fc-day {
  border: 0;
}

/* Important */
.fc-daygrid-day-frame.fc-scrollgrid-sync-inner {
  border: 1px solid #e0e0e0;
  margin-left: 2px;
  margin-right: 2px;
}

/* Important */
.fc-day-disabled {
  opacity: 0;
  pointer-events: none;
}

/* Important */
.fc-daygrid-day-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Important */
.fc-daygrid-day-events {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

/* important */
.fc .fc-daygrid-day-events {
  margin-top: 0;
}

/* Important */
.fc .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
  min-height: 20px;
}

/* Important */
.fc-event-title.fc-sticky {
  background-color: white;
  color: black;
}

/* Important */
.fc-scroller::-webkit-scrollbar {
  display: none;
}

/* Important */
.fc-event {
  border: none !important;
}
/* Important */
.fc-view-harness.fc-view-harness-active {
  width: 500px;
  height: 250px !important;
}

/* Important */
.fc-h-event {
  background-color: transparent;
}

/* Important */
.fc-scroller {
  overflow: hidden !important;
}
